<a href="https://colab.research.google.com/github/ameliachoi/coursera-IBM-data-science/blob/master/coursera_machine_learning_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[Coursera] Machine Learning with Python**
# Section 10. Content-based Filtering

## Table of contents

1. Acquiring the data
2. Preprocessing
3. Content-based Filtering

---

### Acquiring the data

In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2020-07-01 06:54:04--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  20.2MB/s    in 8.7s

2020-07-01 06:54:13 (17.6 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

---

### Preprocessing

In [2]:
# load libraries
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
movies_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

Let's remove the year from the `title` column by using pandas' replace function and store in a new `year` column.

In [4]:
# using regular expressions to find a year stored between parentheses
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)
# removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)
# removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
# applying the strip 
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df

       movieId  ...  year
0            1  ...  1995
1            2  ...  1995
2            3  ...  1995
3            4  ...  1995
4            5  ...  1995
...        ...  ...   ...
34203   151697  ...  1967
34204   151701  ...  2010
34205   151703  ...  2009
34206   151709  ...  2015
34207   151711  ...  1975

[34208 rows x 4 columns]

Let's also split the values in the `genres` column into a list of genres to simplify future use.

In [5]:
# every genre is separated by a | so we simply have to call the split function on |
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, we will we **the One-Hot Encoding** technique to convert the list of genres to **a vector** where each column corresponds to one possible value of the feature.

This encoding is needed for feeding categorical data. In this case, we store every different genre in columns that contain either 1 or 0. 1 shows that a movie has taht genre and 0 shows that it doesn't. Let't also store this dataframe in another variable since genres won't be important for our first recommendation system.

In [6]:
# copying the movie dataframe into a new one since we won't need to use the genre information in our first case
moviesWithGenres_df = movies_df.copy()

# for every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
  for genre in row['genres']:
    moviesWithGenres_df.at[index, genre] = 1

# filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

Next, let's look at the ratings dataframe.

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the `timestamp` column, so let's drop it.

In [7]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [8]:
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

---

### Content-Based Recommendation System

Now, let's take a look at how to implement **content-based or item-item recommendation system**. This technique attempts to figure out what a user's favorite aspects of an item is, and then recommends items that present those aspects. In our case, we're going to try to figure out the input's favorite genres from the movies and ratings given.

Let's begin by creating an input user to recomment movie to:

* Notice: to add more movies, simply increase the amount of elements in the `userInput`. feel free to add more in! just be sure to write it in with capital letters and if a movie starts with a 'the', like 'the matrix' then write it in like this: 'Matrix, The'.

In [9]:
userInput = [
             {'title':'Breakfast Club, The', 'rating':5},
             {'title':'Toy Story', 'rating':3.5},
             {'title':'Jumanji', 'rating':2},
             {'title':'Pulp Fiction', 'rating':5},
             {'title':'Akira', 'rating':4.5}
]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

#### Add movid id to input user

With the input complete, let's extract the input movie's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [10]:
# filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
# then merging it so we can get the movieId. It's implicitly merging it by title
inputMovies = pd.merge(inputId, inputMovies)
# dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

We're going to start by learning the input's preferences, so let's get the subset of movies that the input has watched from the dataframe containing genres defined with binary values.

In [11]:
# filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[5 rows x 24 columns]

We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the `movieId`, `title`, `genres` and `year` columns.

In [12]:
# resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)

# dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        1.0        1.0       0.0  ...      0.0        0.0                 0.0
4        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

Now we're ready to start learning the input's preferences!

To do this, we're going to turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually **a dot product** between a matrix and a vector, so we can simply accomplish by calling Pandas' 'dot' function.

In [13]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [16]:
userGenreTable.transpose()

                      0    1    2    3    4
Adventure           1.0  1.0  0.0  1.0  0.0
Animation           1.0  0.0  0.0  1.0  0.0
Children            1.0  1.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  0.0  1.0
Fantasy             1.0  1.0  0.0  0.0  0.0
Romance             0.0  0.0  0.0  0.0  0.0
Drama               0.0  0.0  1.0  0.0  1.0
Action              0.0  0.0  0.0  1.0  0.0
Crime               0.0  0.0  1.0  0.0  0.0
Thriller            0.0  0.0  1.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  1.0  0.0
IMAX                0.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0
War                 0.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0

In [14]:
# dot product to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, we have the weights for every of the user's preferences. This is known as the **User Profile**. Using this, we can recommend movies that satisfy the user's preferences.

Start by extracting the genre table from the original dataframe:

In [18]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [20]:
genreTable.shape

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [21]:
# multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable * userProfile).sum(axis=1)) / (userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [23]:
# sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
dtype: float64

In [24]:
# the final recommendation table!
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

       movieId  ...  year
664        673  ...  1996
2902      2987  ...  1988
4923      5018  ...  1991
6793      6902  ...  2002
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
9825     32031  ...  2005
11716    51632  ...  2003
11751    51939  ...  2007
13250    64645  ...  1968
16055    81132  ...  2010
18312    91335  ...  2009
22778   108540  ...  2012
22881   108932  ...  2014
25218   117646  ...  2000
26442   122787  ...  1959
28220   130520  ...  2015
32854   146305  ...  2000
33509   148775  ...  2009

[20 rows x 4 columns]